services:
  vpn:
    image: ghcr.io/bubuntux/nordlynx
    hostname: vpn
    container_name: vpn
    cap_add:
      - NET_ADMIN #required
      - SYS_MODULE
    environment:
      - PRIVATE_KEY=${NORDLYNX_PRIVATE_KEY} #required
      - QUERY=filters\[servers_groups\]\[identifier\]=legacy_p2p
      - NET_LOCAL=192.168.0.0/16
      - TZ=${TZ}
    ports:
      - 8112:8112 # deluge
      - 9117:9117 # jackett
      - 8989:8989 # sonarr
      - 7878:7878 # radarr
      - 8787:8787 # readarr
      - 6767:6767 # bazarr
      - 5800:5800 # jdownloader-2
      - 5299:5299 # lazylibrarian
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1   # maybe
      - net.ipv4.conf.all.rp_filter=2        # maybe; set reverse path filter to loose mode
      - net.ipv6.conf.all.disable_ipv6=1     # disable ipv6; recommended if using ipv4 only

  deluge:
    container_name: deluge
    image: ghcr.io/linuxserver/deluge:latest
    restart: unless-stopped
    network_mode: service:vpn # run on the vpn network
    #network_mode: host
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - ${STORAGE}/downloads:/downloads # downloads folder
      - ${ROOT}/config/deluge:/config # config files
    depends_on:
      - vpn

  jackett:
    container_name: jackett
    image: ghcr.io/linuxserver/jackett:latest
    restart: unless-stopped
    network_mode: service:vpn # run on the vpn network
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${STORAGE}/downloads/torrent-blackhole:/downloads # place where to put .torrent files for manual download
      - ${ROOT}/config/jackett:/config # config files
    depends_on:
      - vpn

  sonarr:
    container_name: sonarr
    image: ghcr.io/linuxserver/sonarr:latest
    restart: unless-stopped
    network_mode: service:vpn # run on the vpn network
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT}/config/sonarr:/config # config files
      - ${STORAGE}/complete/tv:/tv # tv shows folder
      - ${STORAGE}/downloads:/downloads # download folder
    depends_on:
      - vpn

  radarr:
    container_name: radarr
    image: ghcr.io/linuxserver/radarr:latest
    restart: unless-stopped
    network_mode: service:vpn # run on the vpn network
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT}/config/radarr:/config # config files
      - ${STORAGE}/complete/movies:/movies # movies folder
      - ${STORAGE}/downloads:/downloads # download folder
    depends_on:
      - vpn

  lazylibrarian:
    container_name: lazylibrarian
    image: lscr.io/linuxserver/lazylibrarian:latest
    restart: unless-stopped
    network_mode: service:vpn # run on the vpn network
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
      - DOCKER_MODS=linuxserver/mods:universal-calibre|linuxserver/mods:lazylibrarian-ffmpeg #optional
    volumes:
      - ${ROOT}/config/lazylibrarian:/config
      - ${STORAGE}/complete/books:/books # books folder
      - ${STORAGE}/downloads:/downloads # download folder
    depends_on:
      - vpn

  bazarr:
    container_name: bazarr
    image: ghcr.io/linuxserver/bazarr
    restart: unless-stopped
    network_mode: service:vpn # run on the vpn network
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
      - UMASK_SET=022 #optional
    volumes:
      - ${ROOT}/config/bazarr:/config # config files
      - ${STORAGE}/complete/movies:/movies # movies folder
      - ${STORAGE}/complete/tv:/tv # tv shows folder
    depends_on:
      - vpn

  jdownloader-2:
    container_name: jdownloader-2
    image: jlesage/jdownloader-2
    restart: unless-stopped
    network_mode: service:vpn # run on the vpn network
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
      - UMASK_SET=022 #optional
    volumes:
      - ${ROOT}/config/jdownloader-2:/config
      - ${STORAGE}/downloads/complete:/output

  plex-server:
    container_name: plex-server
    image: plexinc/pms-docker:latest
    restart: unless-stopped
    environment:
      - TZ=${TZ} # timezone, defined in .env
    network_mode: host
    volumes:
      - ${ROOT}/config/plex/db:/config # plex database
      - ${ROOT}/config/plex/transcode:/transcode # temp transcoded files
      - ${STORAGE}/complete:/data # media library

  organizr:
    container_name: organizr
    image: organizr/organizr
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - UMASK_SET=022 #optional
    volumes:
      - ${ROOT}/config/organizr:/config # config files

  tautulli:
    image: ghcr.io/tautulli/tautulli
    container_name: tautulli
    restart: unless-stopped
    volumes:
      - ${ROOT}/config/tautulli:/config # config files
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    ports:
      - 8181:8181

  plextraktsync:
    image: ghcr.io/taxel/plextraktsync
    command: sync
    container_name: plextraktsync
    restart: on-failure:2
    volumes:
      - ${ROOT}/config/plextraktsync:/app/config
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env

  vpn-israel:
    image: ghcr.io/bubuntux/nordlynx
    hostname: vpn-israel
    container_name: vpn-israel
    cap_add:
      - NET_ADMIN #required
      - SYS_MODULE
    environment:
      - PRIVATE_KEY=${NORDLYNX_PRIVATE_KEY} #required
      - QUERY=filters\[servers_groups\]\[identifier\]=legacy_p2p
      - COUNTRY_CODE=IL
      - NET_LOCAL=192.168.0.0/16
      - TZ=${TZ}
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1   # maybe
      - net.ipv4.conf.all.rp_filter=2        # maybe; set reverse path filter to loose mode
      - net.ipv6.conf.all.disable_ipv6=1     # disable ipv6; recommended if using ipv4 only

  tv-downloader-masterchef:
    image: ghcr.io/vuduchild/tv-downloader:latest
    container_name: tv-downloader-masterchef
    restart: unless-stopped
    network_mode: service:vpn-israel # run on the vpn network
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
      - SHOW=masterchef
      # Season to download: 'latest' or specific number (e.g., '12')
      - SEASON_NUMBER=latest
      # Output directory inside container
      - OUTPUT_DIR=/downloads
      # Download options
      - WORKERS=8
      - PARALLEL_EPISODES=3
      - RATE_LIMIT=0.0
      - USE_FFMPEG=true
      - FORCE_DOWNLOAD=false

      # Schedule interval in seconds (7200 = 2 hours)
      # Set to '0' or 'once' to run once and exit
      - SCHEDULE_INTERVAL=7200
    volumes:
      - /etc/localtime:/etc/localtime:ro
      # Map downloads directory to host
      # Change './downloads' to your preferred host path
      - "${STORAGE}/complete/tv/MasterChef IL/Season 12/:/downloads"
    depends_on:
      - vpn-israel

  tv-downloader-gameofchefs:
    image: ghcr.io/vuduchild/tv-downloader:latest
    container_name: tv-downloader-gameofchefs
    restart: unless-stopped
    network_mode: service:vpn-israel # run on the vpn network
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
      - SHOW=gameofchefs
      # Season to download: 'latest' or specific number (e.g., '12')
      - SEASON_NUMBER=8
      # Output directory inside container
      - OUTPUT_DIR=/downloads
      # Download options
      - WORKERS=8
      - PARALLEL_EPISODES=3
      - RATE_LIMIT=0.0
      - USE_FFMPEG=true
      - FORCE_DOWNLOAD=false

      # Schedule interval in seconds (7200 = 2 hours)
      # Set to '0' or 'once' to run once and exit
      - SCHEDULE_INTERVAL=7200
    volumes:
      - /etc/localtime:/etc/localtime:ro
      # Map downloads directory to host
      # Change './downloads' to your preferred host path
      - "${STORAGE}/complete/tv/Game Of Chefs/Season 8/:/downloads"
    depends_on:
      - vpn-israel
